# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

nbproject
build
*.zip
Makefile
RemoteSystemTempFiles
/Aufgabe4.03/dist/
/Aufgabe4.01/dist/
/dist/*
/Aufgabe4.02/dist/
.dep.inc
dist/*
/Aufgabe5.02/dist/
/Aufgaben6.01/dist/
/Aufgabe6.01/dist/
/Aufgabe7/dist/
/Aufgabe6.02/dist/